.btn {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;

  /* -------------------------------------------------------------------------- */
  /*                                    크기정의                                  */
  /* -------------------------------------------------------------------------- */
  &.base {
    --px: 1rem;
    --py: 1rem;
    /* --fs:1.2rem; */

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }
  &.md {
    --px: 1.2rem;
    --py: 1.2rem;
    /* --fs:1.2rem; */

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }

  /* -------------------------------------------------------------------------- */
  /*                                    색상정의                                  */
  /* -------------------------------------------------------------------------- */
  &.primary {
    color: var(--white);
    background-color: var(--primary);
  }
  &.secondary {
    color: var(----gray500);
    background-color: var(--white);
    border: 1px solid var(--gray500);
  }
  &:disabled {
    opacity: 0.2;
  }

  /* -------------------------------------------------------------------------- */
  /*                                    아이콘정의                                */
  /* -------------------------------------------------------------------------- */
  &[class*='ico'] {
    &::after {
      content: '';
      width: var(--width);
      aspect-ratio: 1;
      background: var(--bg) no-repeat center / contain;
    }
  }
  &.ico1 {
    --width: 2rem;
    --bg: url('../images/ico1.svg');
  }
  &.ico2 {
    --width: 2rem;
    --bg: url('../images/ico2.svg');
  }
}
