.wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 1280px;
  margin-inline: auto;
  @media (width < 1280px) {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
  }
}

.sidebar {
  width: 20rem;
  height: 100vh;
  overflow: auto;
  @media (width < 1280px) {
    height: 100px;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    overflow: visible;
    background-color: #fff;
    border-bottom: 1px solid #c4c4c4;
    nav {
      width: 100%;
      overflow: auto;
      &::-webkit-scrollbar {
        height: 10px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          height: 10px;
          border-radius: 1000px;
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
    }
  }
  a {
    display: block;
    padding-block: 1rem;
    font-size: 1.8rem;
    color: #999;
    white-space: nowrap;
    &.active {
      font-weight: 700;
      color: slateblue;
    }
  }
  details {
    &[open] {
      background-color: gray;
    }
  }
  summary {
    font-size: 2rem;
    font-weight: 900;
    list-style: none;
  }
}

iframe {
  width: 100%;
  height: calc(100vh - 3px);
  box-sizing: border-box;
  border: none;
  @media (width < 1280px) {
    height: calc(100vh - 103px);
  }
}
