@scope (.tab-type1) {
  :scope {
    --tab-bg: var(--white);
    --tab-border: 1px solid var(--gray400);
    --tab-color: var(--black);
    --tab-padding: 1rem;
    --tab-radius: 0.5rem;

    display: flex;
    border-bottom: var(--tab-border);
  }
  button {
    background-color: var(--tab-bg);
    border: none;
    color: var(--tab-color);
    padding: var(--tab-padding);
    border-radius: var(--tab-radius);
    font-size: 1.6rem;

    &:hover {
      background-color: var(--gray100);
    }
  }
}
