@scope (.tab-type1) {
  :scope {
    --tabBg: var(--white);
    --tabBorder: 1px solid var(--gray400);
    --tabColor: var(--black);
    --tabPadding: 1rem;
    --tabRadius: 0.5rem;

    display: flex;
    border-bottom: var(--tabBorder);
  }
  button {
    background-color: var(--tabBg);
    border: none;
    color: var(--tabColor);
    padding: var(--tabPadding);
    border-radius: var(--tabRadius);
    font-size: 1.6rem;

    &:hover {
      background-color: var(--gray100);
    }
  }
}
