:root {
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-base: 1.6rem;
  --font-md: 1.8rem;
  --font-lg: 2rem;
  --font-xl: 2.2rem;

  --lh-sm: 1.2;
  --lh-base: 1.5;
  --lh-md: 1.8;

  --ls-sm: -0.02rem;
  --ls-base: 0;
  --ls-md: 0.01rem;

  --notosans: 'Noto Sans KR';
  --pretendard: 'Pretendard Variable', Pretendard;
  --baseFontFamily: -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --fontFamily: var(--pretendard), var(--baseFontFamily);
  --REM: 62.5%;
}

body {
  background-color: var(--white);
}
.text-xs {
  font-size: var(--fs, var(--font-xs));
}
.text-sm {
  font-size: var(--fs, var(--font-sm));
}
.text-base {
  font-size: var(--fs, var(--font-base));
}
.text-md {
  font-size: var(--fs, var(--font-md));
}
.text-lg {
  font-size: var(--fs, var(--font-lg));
}
.text-xl {
  font-size: var(--fs, var(--font-xl));
}

strong,
b {
  font-weight: var(--fw, 700);
}

.link {
  text-decoration: underline 2px;
  text-decoration-color: red;
  text-underline-offset: 3px;
}

/* -------------------------------------------------------------------------- */
/*                                 Text Color                                 */
/* -------------------------------------------------------------------------- */
.text-primary {
  color: var(--primary, #000);
}
.text-secondary {
  color: var(--secondary, #000);
}
.text-danger {
  color: var(--danger, #000);
}
.text-success {
  color: var(--success, #000);
}
