body {
  background-color: #f1f1f1;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0.08);
  }
}
.wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 1280px;
  margin-inline: auto;
  background-color: white;
  @media (width < 1280px) {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
  }
}

.sidebar {
  width: 25rem;
  height: 100vh;
  overflow: auto;
  padding: 2rem;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      width: 5px;
      border-radius: 1000px;
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
  @media (width < 1280px) {
    height: auto;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    overflow: visible;
    background-color: #fff;
    border-right: none;
    border-bottom: 1px solid #c4c4c4;
    nav {
      width: 100%;
      overflow: auto;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        height: 10px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          height: 10px;
          border-radius: 1000px;
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
    }
  }
  h2 {
    font-size: 2rem;
    padding: 1rem;
    @media (width < 1280px) {
      padding: 0;
    }
    ~ h2 {
      margin-top: 2.5rem;
      @media (width < 1280px) {
        margin-top: 1.5rem;
        padding: 0;
      }
    }
  }
  a {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    color: #999;
    white-space: nowrap;
    line-height: 1;
    @media (width<1280px) {
      padding-inline: 0;
    }
    &.active {
      font-weight: 700;
      color: slateblue;
    }
    &[data-kor] {
      &::after {
        content: "(" attr(data-kor) ")";
        font-size: 1.6rem;
        margin-left: 0.5rem;
      }
    }
  }
  details {
    &[open] {
      background-color: gray;
    }
  }
  summary {
    font-size: 2rem;
    font-weight: 900;
    list-style: none;
  }
}

iframe {
  width: 100%;
  height: calc(100vh - 3px);
  box-sizing: border-box;
  border: none;

  @media (width < 1280px) {
    height: calc(100vh - var(--height));
  }
}
